
/*reset canvas*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family:monospace;
}

p {
    color: white;
}
.top-header {
    background-color: rgba(0, 0, 0, 0.45);
    height: 10vh;
    width: 100vw;
    position: sticky;
}

.top-header-text {
    text-align: center;
    font-size: 35px;
}

.body-view {
    margin-top: -10vh;
    height: 100vh;
    width: 100vw;
}

.background-image {
    position: relative;
}

.body-anchor-boxes {
    height: 40vh;
    width: 50vw;
    background-color: darkslategray;
    opacity: 45%;
    position: absolute;
    top: 10vh;
    left: 0;
}

.body-anchor-boxes:hover {
    opacity: 85%;
}

.body-anchor-text {
    text-align:center;
    vertical-align: middle;
    line-height: 40vh;
    font-size: 55px;
}

.github-logo {
    float:left;
    background-color: rgba(0, 0, 0, 0.45);
}